@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --fonte-titulo: "Coiny", serif;
    --fonte-corpo: "Montserrat", serif;
    --fundo: #f1f8ff;
    --azul-escuro: #0d3052;    
    --azul-hover: #1d5b99;
}


h1 {
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
    font-size: 46px;
    margin: 0;
    color: var(--azul-escuro);
}

h2,
h3,
h4,
h5,
p {
    font-family: var(--fonte-corpo);

    color: var(--azul-escuro);
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
}

a {
    text-decoration: none;
    font-family: var(--fonte-corpo);
}

body {
    font-family: var(--fonte-corpo);
    font-size: 16px;
    background-color: var(--fundo);
    color: var(--azul-escuro);
    background-image: url('../img/fundo-img.png');
    background-repeat: repeat;
    text-align: center;
    padding: 2em;
}

header,
main {
    border-radius: 30px;
    padding: 1em;
}

.card {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), -5px -5px 10px rgba(0,0,0,0.1);
    background-color: var(--fundo)!important;
    padding: 0;
}

.card-footer a {    
    color: var(--azul-escuro)!important;
}

.card-footer a:hover {    
    color: var(--azul-hover)!important;
}

.div-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px 10px 20px 10px;
}


.card-item {
    border: 1px solid var(--azul-escuro);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.card-header img {
    width: 25%!important;
}

.btn {
    background-color: var(--azul-escuro);
    color: var(--fundo);
    border-radius: 10px;
    padding: 10px;
}

.texto-cartao {
    font-size: 16px;
    font-weight: 600!important;
}
.confirma {
    font-size: 14px;
}

.bold {
    font-weight: 600;
}

@media (max-width: 768px) {

    body {
        padding: 0.75em;
    }

    .card-header img {
        width: 75%!important;
    }

}